$font-size-normal: 0.875rem;
$font-size-bigger: 1.25rem;
$font-size-smaller: 0.75rem;
$font-size-h1: 4.375rem;
$offset-top: 15rem;
$sideMenu-width: 24.75rem;
@mixin glow {
  box-shadow: 0 0 28px 7px rgba(255, 120, 0, 0.41),
  inset 0 0 28px 7px rgba(255, 120, 0, 0.41),
  0 0 8px 4px rgba(255, 132, 0, 0.37),
  inset 0 0 8px 4px rgba(255, 132, 0, 0.37);
}
@mixin glow-text {
  text-shadow: 0 0 28px rgba(255, 120, 0, 0.83),
  0 0 8px rgba(255, 132, 0, 0.75);
}
@mixin img-wrapper {
  width: 68px;
  height: 68px;
  position: relative;
  border: 1px solid #b2b2b2;
  margin: 0.5rem;
  &:hover, &:focus {
    border-color: $orange;
  }
  @media screen and (max-width: 1440px) {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 640px) {
    margin: 1rem;
  }
}
@mixin img-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: auto;
}
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(large-tweak) {
    .title-bar {
      display: none;
    }
  }
}
input,
textarea {
  outline: none;
  box-shadow: none !important;
  resize: none;
}
[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
  outline: none;
  border: 0;
  background-color: $dark-blue;
  box-shadow: none;
  transition: none;
}
* {
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}
button,
a {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height: normal;
}
html {
  @media screen and (max-width: 1920px){
    font-size: 16px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }
}
body {
  font-size: $font-size-normal;
  color: $black;
  line-height: normal;
  background-color: $bg-color;
  @media screen and (max-width: 1440px){
    font-size: 1rem;
  }
}
a {
  color: $white;
  &:hover,
  &:focus {
    color: $white;
  }
}
.btn-custom {
  font-size: $font-size-bigger;
  background-color: $orange;
  padding: 1.125rem 0.875rem;
  margin-bottom: 0;
  border: 0;
  &:hover,
  &:focus {
    background-color: $orange;
  }
  @media screen and (max-width: 1440px){
    font-size: 1rem;
  }
}
.button {
  &.hollow {
    margin: 0;
    padding: 1.25em 0.875em;
    border: 1px solid $button-border;
    font-size: $font-size-normal;
    color: $white;
    &:hover,
    &:focus{
      color: $button-border-hover;
      border-color: $button-border-hover;
      @include glow;
    }
  }
  @media screen and (max-width: 1440px) {
    &.hollow {
      font-size: 1rem;
    }
  }
}
.tabs,
.tabs-content {
  border: 0;
  background-color: transparent;
}
.lang {
  font-size: 0.875rem;
  color: #a1a5ac;
  line-height: 1;
  text-transform: uppercase;
  margin-right: 1.75rem;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &.active {
    color: #ff8f1d;
    // @include glow-text;
    text-shadow: 2px 5px 28px rgba(255, 120, 0, 0.9), 2px 5px 8px rgba(255, 132, 0, 0.9);
  }
  .pp-viewing-page2 &,
  .pp-viewing-page3 & {
    color: $black;
    &:hover,
    &:focus,
    &.active {
      color: $orange;
    }
  }
}
.title-bar {
  background-color: $bg-color;
  position: relative;
  .logo-small {
    position: absolute;
  }
  @media screen and (max-width: 1024px) {
    padding: 38px 0 36px;
    height: 101px;
    .logo-small {
      top: 38px;
      left: 0;
    }
  }
  @media screen and (max-width: 768px) {
    height: 106px;
    padding: 42px 0 35px;
    .logo-small {
      width: 53px;
      top: 42px;
    }
  }
  @media screen and (max-width: 640px) {
    height: 47px;
    padding: 15px 0 16px;
    .logo-small {
      width: 40px;
      top: 15px;
    }
  }
}
.mainPage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .lang-panel {
    position: absolute;
    top: 6.5rem;
    right: 5.75rem;
    z-index: 10;
    .lang {
      margin-right: 2.25rem;
      .pp-viewing-page2 &,
      .pp-viewing-page3 & {
        color: $black;
        &:hover,
        &:focus,
        &.active {
          color: $orange;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .lang-panel {
      top: 4.5rem;
      right: 4rem;
      .lang {
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 106px;
    .lang-panel {
      top: 2.5rem;
      right: auto;
      left: 5.6667rem;
    }
  }
  @media screen and (max-width: 640px) {
    padding-top: 47px;
    .lang-panel {
      top: auto;
      left: auto;
      right: 2rem;
      bottom: 2.5rem;
    }
  }
  .title-bar {
    position: absolute;
    top: 0;
    z-index: 100;
    @media screen and (max-width: 1024px) {
      width: 112px;
      padding: 48px 24px 55px 32px;
      height: 100%;
      .logo-small {
        top: 48px;
        left: 32px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 106px;
      padding: 42px 58px 35px 68px;
      .logo-small {
        width: 53px;
        left: 68px;
        top: 42px;
      }
    }
    @media screen and (max-width: 640px) {
      width: 100%;
      height: 47px;
      padding: 23px 26px 8px;
      .logo-small {
        width: 40px;
        left: 26px;
        top: 23px;
      }
    }
  }
}
.drilldown {
  .is-drilldown-submenu {
    background-color: $bg-color;
    &.is-active {
      display: flex!important;
    }
  }
  .is-drilldown-submenu-parent {
    >a {
      &:after {
        border: 0;
        content: '\203A';
        top: 0.5em;
        margin-top: 0;
        right: -4px;
      }
    }
  }
  .js-drilldown-back {
    width: 100%;
    >a {
      &:before {
        border: 0;
        content: '\2039';
        margin-right: 1rem;
        vertical-align: unset;
      }
    }
  }
}
.is-submenu-item {
  a {
    font-size: 1rem;
  }
}
.menu-sub {
  display: none;
}
.visible {
  display: block!important;
}
.accordion-menu {
  .is-accordion-submenu-parent {
    &:not(.has-submenu-toggle) {
      >a {
        &:after {
          content: none;
        }
      }
    }
  }
}
.page-number {
  position: absolute;
  top: -2.25rem;
  left: -1.5rem;
  font-size: $font-size-normal;
  color: $light-gray;
  @media screen and (max-width: 1440px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 1024px) {
    left: 0;
  }
}
.sideMenu {
  position: absolute;
  left: 0;
  background: $bg-color;
  width: $sideMenu-width;
  padding: 4.375rem 4.75rem 5rem;
  height: 100vh;
  z-index: 1000;
  >.is-drilldown {
    max-width: 100%!important;
    min-height: 100%!important;
    margin: 25% 0;
  }
  .logo {
    margin-left: 2.125rem;
  }
  .menu-main {
    margin-left: 1.125rem;
    li {
      margin-bottom: 1.25rem;
      &:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 1px;
        background: #4e535e;
        top: 1em;
        left: -24px;
      }
      &:hover:before {
        background: #e3801e;
        height: 3px;
        width: 4.375rem;
        left: -4.375rem;
      }
    }
    a {
      display: inline-block;
      color: $white;
      background-color: $bg-color;
      line-height: normal;
      padding: 0.5rem 1rem;
    }
  }
  .button {
    &.hollow {
      background-color: transparent;
      background-image: url("../img/icons/button-arrow.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 19px) center;
      text-align: left;
      padding-left: 1.875em;
      &:hover,
      &:focus{
        background-image: url("../img/icons/button-arrow-hover.png");
      }
    }
  }
  @media screen and (min-width: 1366px) {
    .menu-main {
      li {
        position: relative;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .logo {
      width: 9rem;
    }
    .menu-main {
      margin-left: 0;
    }
    .button {
      &.hollow {
        background-size: 6px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .menu-main {
      >div {
        flex-shrink: unset;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    left: 112px;
    width: calc(100% - 112px);
    padding: 0 3.6667rem;
    .menu-main {
      li {
        &:before {
          content: none;
        }
      }
      a {
        font-size: 1.3333rem;
      }
    }
    .submenu {
      a {
        font-size: 1rem;
      }
    }
    .menu-sub {
      margin-left: 2.5rem;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    left: 0;
    top: 106px;
    padding: 0 4.66rem;
  }
  @media screen and (max-width: 640px) {
    padding: 0 2.1667rem;
    top: 47px;
    height: calc(100% - 47px);
    .menu-main {
      font-size: 1.1667rem;
      li {
        margin-bottom: 1rem;
      }
      a {
        font-size: 1.1667rem;
        padding: 0.5rem 0.75rem;
      }
    }
    .submenu {
      a {
        font-size: 1rem;
      }
    }
    .menu-sub {
      margin-left: 1.75rem;
      a {
        font-size: 1rem;
      }
    }
    li {
      &.js-drilldown-back {
        margin-bottom: 2.25rem;
      }
    }
  }
}
.section {
  width: calc(100% - #{$sideMenu-width})!important;
  right: 0;
  @media screen and (max-width: 1024px) {
    width: 100%!important;
  }
}
.section-content {
  position: relative;
  z-index: 10;
  margin-left: 5%;
  @media screen and (min-width: 1440px) {
    .block-consultation & {
      max-width: 88.3%;
    }
  }
  @media screen and (max-width: 1024px) {
    margin-left: calc(3.5% + 10rem);
    .block-consultation & {
      max-width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: auto;
    max-width: 86.79%;
    .block-consultation & {
      max-width: 86.79%;
      margin-top: -10rem;
    }
  }
  @media screen and (max-width: 640px) {
    max-width: 75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .block-consultation & {
      max-width: 100%;
      margin-top: 0;
    }
  }
}
.block-summary,
.block-about,
.block-projects,
.block-consultation,
.block-contacts {
  padding: $offset-top 0 4.8rem 0;
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  .h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.875rem;
    position: relative;
  }
  .lead {
    font-size: $font-size-bigger;
    font-weight: 300;
    margin-bottom: 4.375rem;
  }
  p {
    color: $medium-gray;
    line-height: 1.7;
  }
  @media screen and (max-width: 1440px){
    .h1 {
      font-size: 4rem;
    }
    .lead {
      font-size: 1.3333rem;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  @media screen and (max-width: 767px){
    .h1 {
      font-size: 1.91667rem;
    }
  }
  @media screen and (max-width: 640px){
    background-image: none!important;
    background-color: transparent!important;
    // padding: 2rem 0;
    padding: 5rem 0;
    .h1 {
      font-size: 1.9167rem;
    }
    .lead {
      font-size: 1.1667rem;
    }
  }
}
#pagepiling {
  @media screen and (max-width: 640px) {
    height: 100vh;
    padding-bottom: 47px;
    overflow: auto;
    background: url("../img/images/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}
.block-summary {
  position: relative;
  .bg-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/images/bg-main.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    margin: -1px 0 0 -1px;
  }
  .summary-content-toggler {
    position: absolute;
    bottom: 4.8rem;
    left: 5.4rem;
    z-index: 100;
  }
  .h1 {
    color: $white;
    span.page-number {
      top: -3.5rem;
    }
  }
  .lead {
    color: $white;
    margin-bottom: 1rem;
    br {
      display: none;
    }
  }
  ul {
    color: $medium-gray;
    list-style: none;
    margin-top: 1.75rem;
    li {
      // line-height: 2.428;
      line-height: 1.5;
      &:before {
        content: '/';
        padding-right: 0.6875em;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .summary-content-toggler {
      left: 12.833rem;
    }
  }
  @media screen and (max-width: 768px) {
    .summary-content-toggler {
      left: 4.5rem;
      bottom: auto;
      top: 21rem;
    }
    .pp-tableCell {
      vertical-align: top;
      padding-top: 7.5rem;
    }
  }
  @media screen and (max-width: 640px) {
    height: 100vh;
    .lead {
      br {
        display: block;
      }
    }
  }
}
.block-about {
  background-color: $white;
  background-image: url("../img/images/bg-about.jpg");
  padding: 3rem 0 4.8rem 0;
  .h1 {
    color: $black;
    margin-bottom: 4rem;
  }
  .lead {
    color: $black;
  }
  p {
    &:not(.lead) {
      font-size: $font-size-smaller;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #acadb5;
    margin-top: 1rem;
  }
  .tabs {
    margin-bottom: 2.5rem;
  }
  .tabs-title {
    margin-right: 1.625rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .tabs-title {
    > a {
      font-size: $font-size-normal;
      color: $black;
      width: 35px;
      padding: 0.6rem 0;
      text-align: center;
      border: 1px solid transparent;
      &:hover,
      &:focus,
      &[aria-selected='true'] {
        background: transparent;
        color: $orange;
        border-color: $orange;
        // @include glow;
        box-shadow: 0 0 28px 7px rgba(255, 120, 0, 0.11), inset 0 0 28px 7px rgba(255, 120, 0, 0.11), 0 0 8px 4px rgba(255, 132, 0, 0.37), inset 0 0 8px 4px rgba(255, 132, 0, 0.27);
      }
    }
  }
  @media screen and (max-width: 1440px){
    p {
      &:not(.lead) {
        font-size: 1rem;
      }
    }
    .tabs-title {
      > a {
        font-size: 1.1667rem;
        color: $black;
        width: 25px;
        padding: 0.4rem 0;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .line {
      width: 1px;
      height: 150px;
      margin: 0 auto;
    }
    .lead {
      margin-bottom: 2.25rem;
    }
    .tabs-title {
      margin-right: 0;
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .tabs-title {
      > a {
        width: 35px;
        padding: 0.85rem 0;
      }
    }
  }
  @media screen and (max-width: 640px) {
    .h1 {
      color: $white;
    }
    .lead {
      color: $white;
    }
    p {
      color: $white;
    }
    .tabs-title {
      > a {
        font-size: 1rem;
        color: $white;
        width: 28px;
        padding: 0.5rem 0;
        &:hover,
        &:focus,
        &[aria-selected='true'] {
          color: #ffdb8d;
          border-color: #ffdb8d;
        }
      }
    }
  }
}
.block-projects {
  padding-top: 0;
  background-image: url("../img/images/bg-projects.jpg");
  .h1 {
    color: $white;
    margin-bottom: 4.375rem;
    margin-top: $offset-top;
  }
  .project-wrapper {
    background-color: $white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    // width: 30%;
    width: 33%;
    height: 100vh;
    // padding: 18rem 5.625rem 4.8rem 4.375rem;
    padding: 18rem 4.625rem 4.8rem 2rem;
    p {
      color: $black;
      margin-bottom: 2.125rem;
      &:not(.lead) {
        font-size: $font-size-smaller;
      }
    }
    .lead {
      margin-bottom: 3rem;
    }
  }
  .button {
    &.hollow {
      margin-top: 3rem;
    }
  }
  .slick-slide {
    padding-left: 20px;
    img {
      width: 100%;
    }
  }
  .vertical-text {
    position: absolute;
    top: 0;
    // left: -1.25rem;
    left: 0;
    font-size: $font-size-normal;
    color: $light-gray;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  }
  @media screen and (max-width: 1440px){
    .project-wrapper {
      width: 34.145%;
      // padding: 18rem 6.5rem 0 5rem;
      padding: 13rem 5.5rem 0 2rem;
      p {
        &:not(.lead) {
          font-size: 0.75rem;
        }
      }
    }
    .vertical-text {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1024px){
    .h1 {
      margin-top: 8rem;
    }
    .project-wrapper {
      width: 33%;
      padding: 15rem 4rem 0 5rem;
    }
    .vertical-text {
      top: -2.5rem;
      left: 0.9375rem;
      writing-mode: horizontal-tb;
      transform: none;
    }
  }
  @media screen and (max-width: 768px){
    .h1 {
      margin-top: 8.5rem;
    }
    .project-wrapper {
      background-color: $white;
      position: relative;
      right: auto;
      width: 100%;
      height: auto;
      padding: 4.5rem 4rem 3rem;
      p {
        color: $black;
        margin-bottom: 1.5rem;
      }
      .lead {
        margin-bottom: 1.5rem;
      }
    }
    .pp-tableCell {
      vertical-align: top;
    }
  }
  @media screen and (max-width: 768px) and (min-width: 641px){
    .row {
      max-width: 64rem;
    }
    .project-small {
      background-color: $white;
      padding: 0 4rem;
    }
    .project-wrapper {
      width: 64rem;
      margin: 0 auto;
      padding-bottom: 0;
    }
    .project-small {
      padding: 3rem 0;
      margin-top: -1px;
    }
    .h1 {
      margin-left: 4rem;
    }
  }
  @media screen and (max-width: 640px){
    .h1 {
      margin: 3rem 0 2.75rem;
    }
    .project-wrapper {
      background-color: transparent;
      max-width: 75rem;
      margin: auto;
      padding: 0 2rem;
      p {
        color: $white;
        margin-bottom: 1.5rem;
      }
    }
    .slick-slide {
      align-items: center;
    }
  }
}
.block-consultation {
  padding-top: 7rem;
  .h2 {
    color: $white;
    font-size: 2.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.625rem;
    position: relative;
  }
  .tabs {
    margin-bottom: 4rem;
  }
  .tabs-title {
    position: relative;
    margin-right: 6.125rem;
    &:last-of-type {
      margin-right: 0;
    }
    >a{
      font-size: $font-size-bigger;
      padding: 0.625rem 0;
      &:hover {
        color: $white;
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $dark-gray;
      position: absolute;
      bottom: -0.5rem;
    }
    &.is-active,
    &:hover,
    &:focus {
      &:after {
        border-bottom: 1px solid $button-border-hover;
        @include glow;
      }
    }
  }
  select,
  input {
    height: auto;
    margin-bottom: 1.625rem;
    padding: 2.125rem 3.25rem;
    border: 0;
    font-size: $font-size-bigger;
    color: $white;
    line-height: 1;
    background-color: $dark-blue;
    transition: none;
  }
  select {
    &.custom-select {
      background: $dark-blue url("../img/icons/arrow-down.png") no-repeat;
      background-position: right 2.25rem center;
      option {
        padding: 10px 0;
        height: 30px;
      }
      &:hover,
      &:focus {
        background-color: $orange;
        box-shadow: none;
      }
    }
  }
  input {
    &:hover {
      background-color: $orange;
    }
    &::placeholder {
      color: $white;
      opacity: 1;
    }
  }
  .solution {
    margin: 3.5rem 0;
    >div {
      margin-right: 4.375rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
    p {
      font-size: $font-size-bigger;
      color: $white;
      line-height: 1;
      margin-bottom: 0;
    }
  }
  .remove {
    margin-left: 1rem;
  }
  @media screen and (max-width: 1440px){
    .h2 {
      font-size: 2.3333rem;
    }
    .tabs-title {
      >a {
        font-size: 1.1667rem;
      }
    }
    select,
    input {
      padding: 2rem 3rem;
      font-size: 1.1667rem;
    }
    select {
      &.custom-select {
        background-size: 15px;
        background-position: right 1.85rem center;
      }
    }
    .solution {
      p {
        font-size: 1.1667rem;
      }
    }
  }
  @media screen and (max-width: 1024px){
    padding-top: 0;
    .tabs-title {
      margin-right: 4.5rem;
    }
    select {
      &.custom-select {
        background-size: 10px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    select,
    input {
      margin-bottom: 3.3333rem;
    }
  }
  @media screen and (max-width: 640px){
    padding-top: 2rem;
    .h2 {
      font-size: 1.5rem;
    }
    .row-custom {
      max-width: 75rem;
      margin-left: auto;
    }
    .tabs {
      display: flex;
      justify-content: space-between;
      &:before,
      &:after {
        content: none;
      }
    }
    .tabs-title {
      margin-right: 0;
      >a {
        font-size: 1rem;
      }
    }
    select,
    input {
      padding: 1.16rem 1rem;
      font-size: 1rem;
      margin-bottom: 1.65rem;
    }
    select {
      &.custom-select {
        background-size: 8px;
        background-position: right 1rem center;
      }
    }
    .solution {
      justify-content: space-between;
      >div {
        margin: 0;
      }
    }
  }
}
.block-contacts {
  background-image: url("../img/images/bg-contacts.jpg");
  background-size: contain;
  .h1 {
    color: $white;
    margin-bottom: 4.875rem;
  }
  .tabs-title{
    > a {
      padding: 0;
      font-size: inherit;
      color: inherit;
      &:focus,
      &[aria-selected='true'] {
        background-color: transparent;
      }
    }
  }
  .contacts-city-wrapper {
    margin-bottom: 4.625rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    &.is-active {
      .contacts-text {
        color: $light-gray;
      }
      .contacts-city {
        color: $white;
        &:after {
          width: 100%;
          background-color: #ffdb8d;
          @include glow;
        }
      }
    }
    &:hover {
      .contacts-text,
      .contacts-city {
        color: $white;
        &:after {
          background-color: $white;
          width: 100%;
        }
      }
    }
  }
  .contacts-text {
    color: $dark-gray;
    margin-bottom: 0.3em;
  }
  .contacts-city {
    font-size: 2.875rem;
    color: $dark-gray;
    padding-bottom: 0.4em;
    display: inline-block;
    position: relative;
    &:after {
      content: '';
      width: 100px;
      height: 1px;
      background-color: #4c5161;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .contacts-wrapper {
    margin-bottom: 2.5rem;
    .contacts-text {
      color: $light-gray;
      width: 35%;
      float: left;
      a {
        color: $orange;
      }
    }
    .contacts {
      font-size: 1.25rem;
      color: $white;
      line-height: 1.7;
      margin-top: -0.5rem;
      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .requisites-wrapper {
    position: relative;
  }
  .requisites {
    width: 100%;
    padding: 1.75rem 2.5rem 1.75rem 1.75rem;
    border: 0;
    background-color: $dark-blue;
    p {
      color: $white;
      font-size: $font-size-smaller;
      line-height: 2;
      &:first-of-type {
        font-size: 0.875rem;
      }
    }
    .triangle {
      width: 0;
      height: 0;
      border-top: 10px solid $dark-blue;
      border-right: 10px solid transparent;
      position: absolute;
      bottom: -10px;
      left: 5px;
    }
  }
  .show-requisites {
    padding: 1.75rem 0 0;
    margin: 0;
    text-decoration: underline;
    color: $orange;
    font-size: 0.875rem;
    &:hover,
    &:focus {
      color: $orange;
    }
  }
  @media screen and (max-width: 1440px) {
    .contacts-city {
      font-size: 3rem;
    }
    .contacts-wrapper {
      .contacts {
        font-size: 1.3333rem;
      }
    }
    .requisites {
      width: 115%;
      padding: 2rem 2.5rem;
      p {
        font-size: 1rem;
        &:first-of-type {
          font-size: 1.1667rem;
        }
      }
    }
    button[data-toggle="show-requisites"] {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .contacts-city {
      font-size: 2.3333rem;
    }
  }
  @media screen and (max-width: 768px) {
    .contacts-city-wrapper {
      margin-bottom: 6rem;
    }
    .contacts-city {
      font-size: 3rem;
    }
    .contacts-wrapper {
      &.align-middle {
        align-items: normal;
      }
      .contacts-text {
        width: 100%;
        margin-bottom: 1rem;
      }
      .contacts {
        line-height: 1.375;
      }
    }
    .requisites {
      width: 145%;
      .triangle {
        left: 60%;
      }
    }
    .show-requisites {
      width: 100%;
      text-align: left;
    }
  }
  @media screen and (max-width: 640px) {
    .h1 {
      margin-bottom: 3rem;
    }
    .contacts-wrapper {
      margin-bottom: 1rem;
      .contacts {
        font-size: 1.1667rem;
      }
    }
    .contacts-city-wrapper {
      margin-bottom: 3rem;
    }
    .contacts-city {
      font-size: 1rem;
      &:after {
        width: 100%;
      }
    }
    .requisites-wrapper {
      margin: 0 -1.2rem!important;
    }
    .requisites {
      width: 100%;
      padding: 1.15rem;
      .triangle {
        left: 8px;
      }
    }
    .show-requisites {
      width: auto;
      text-align: center;
      padding-left: 1.2rem;
    }
  }
  @media screen and (max-width: 475px) {
    height: calc(100vh - 4rem);
    ul {
      &:before,
      &:after {
        content: none;
      }
    }
  }
}
/** Hamburger icon **/
.menu-toggler {
  padding: 0;
  font-size: 1rem;
  border: 0;
  margin: auto;
}
.menu-toggler {
  .icon-bar {
    display: block;
    width: 39px;
    height: 1px;
    background: #f18a23;
    position: relative;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: left center;
    transition: all 0.25s;
    +.icon-bar {
      margin-top: 8px;
    }
    &:nth-of-type(2) {
      width: 24px;
    }
  }
  &.active {
    .icon-bar {
      &:nth-of-type(1) {
        width: 25px;
        transform: rotate(45deg);
        top: 0;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        width: 25px;
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
  @media screen and (max-width: 640px) {
    .icon-bar {
      width: 50px;
      +.icon-bar {
        margin-top: 5px;
      }
      &:nth-of-type(2) {
        width: 36px;
      }
    }
    &.active {
      .icon-bar {
        &:nth-of-type(1) {
          width: 21px;
          transform: rotate(45deg);
          top: 0;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          width: 21px;
          transform: rotate(-45deg);
          top: 3px;
        }
      }
    }
  }
}
/**content pages**/
.page {
  background-color: $white;
  .row {
    max-width: 90%;
  }
  .top-bar {
    padding: 0;
    background-color: $bg-color;
    ul {
      background-color: $bg-color;
    }
  }
  header {
    padding: 1.125rem 0 1.25rem;
    background-color: $bg-color;
    .menu {
      li {
        margin: 0 1rem;
      }
    }
  }
  .menu {
    a {
      line-height: 1.25;
      padding: 0;
    }
  }
  footer {
    color: $white;
    padding: 3.75rem 0 3rem;
    background-color: $bg-color;
    p,
    a {
      font-weight: 300;
    }
    .logo {
      width: 12.75rem;
      margin-bottom: 2.5rem;
    }
    .menu {
      display: block;
      column-count: 6;
      li {
        margin: 0.375rem 1.25rem 0.375rem 0;
      }
    }
    .requisites {
      p {
        margin-bottom: 2rem;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
    }
    .social-icons {
      margin: 3.125rem -10px 0;
      a {
        margin: 0 10px;
        img {
          height: 18px;
          filter: grayscale(1);
        }
        &:hover {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
  h1 {
    font-size: 3.875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  section {
    padding: 7rem 0 4.375rem;
  }
  .lead {
    margin-bottom: 6.5rem;
    font-size: $font-size-bigger;
  }
  h4 {
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .line {
    width: 13.125rem;
    height: 2px;
    background-color: $orange;
    margin: 2.75rem 0;
  }
  p {
    &:not(.lead) {
      font-size: $font-size-normal;
      font-weight: 300;
      line-height: 2;
    }
  }
  .breadcrumbs-wrapper {
    position: absolute;
    top: -3.75rem;
    right: 0;
    writing-mode: vertical-rl;
  }
  .breadcrumbs li:not(:last-child)::after {
    content: '\27F6';
    margin: 0.75rem 0;
    color: $black;
  }
  .breadcrumbs {
    a {
      color: $black;
    }
    li {
      font-size: 0.5625rem;
      color: $light-gray;
      text-transform: none;
    }
  }
  .image-large {
    height: 38rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .image-text {
      color: $white;
      margin-top: 4.15rem;
      .line {
        margin-bottom: 2rem;
      }
    }
  }
  .text-colored {
    font-size: 1.75rem;
    font-weight: 700;
    color: $orange;
    writing-mode: vertical-rl;
    position: absolute;
    top: 0;
    right: -2.5rem;
    height: 45rem;
    span {
      color: $white;
    }
  }
  @media screen and (max-width: 1440px) {
    section {
      padding-top: 6.25rem;
    }
    h1 {
      font-size: 2.91667rem;
    }
    .lead {
      font-size: 1.1667rem;
    }
    p {
      &:not(.lead) {
        font-size: 1.1667rem;
        line-height: 1.6;
      }
    }
    h4 {
      font-size: 2.3333rem;
    }
    .logo {
      width: 14.834rem;
    }
    .menu {
      a {
        font-size: 0.8525rem;
      }
    }
    footer {
      .menu {
        column-count: 4;
        li {
          margin-right: 2.5rem;
        }
      }
    }
    .breadcrumbs-wrapper {
      top: 0;
    }
    .image-text {
      p {
        font-size: 1.6667rem;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .top-bar {
      .menu {
        flex-direction: column;
      }
    }
    .breadcrumbs-wrapper {
      display: none;
    }
    header {
      padding: 0;
      .logo {
        display: none;
      }
    }
    footer {
      .social-icons {
        margin: 0 -10px 2.5rem;
      }
    }
    h1 {
      font-size: 3.75rem;
    }
    .image-large {
      height: 37rem;
    }
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.6667rem;
    }
    .image-large {
      height: 30rem;
    }
  }
  @media screen and (max-width: 640px) {
    section {
      padding-top: 2.65rem;
    }
    h4 {
      font-size: 1.834rem;
    }
  }
}
.block-info {
  @media screen and (max-width: 768px) {
    p {
      &.bottom {
        position: absolute;
        bottom: 0;
      }
    }
    br {
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    p {
      &.bottom {
        position: relative;
        bottom: auto;
      }
    }
    h4 {
      margin-bottom: 3rem;
    }
  }
}
.geography-wrapper {
  background-color: #f5f4f4;
  padding: 5.375rem 6.65rem 3.75rem 3.125rem;
  h4 {
    line-height: 1.35;
  }
  .line {
    margin: 3.5rem 0;
  }
  @media screen and (max-width: 1440px) {
    padding: 3rem 2rem 4rem;
    .line {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    background-color: transparent;
    padding: 0 0.9375rem;
  }
  @media screen and (max-width: 640px) {
    .line {
      margin: 1.25rem 0;
    }
  }
}
.block-certificates {
    h4 {
      margin-bottom: 3.5rem;
    }
}
.partners {
  margin-top: 3rem;
  .columns {
    margin-top: 4rem;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 0;
  }
}
.news {
  margin-top: 5rem;
}
.news-col {
  margin-bottom: 2rem;
  @media screen and (max-width: 640px) {
    &:not(:first-of-type) {
      padding-top: 2rem;
      border-top: 1px solid #808080;
      .news-date,
      .news-image,
      .pattern {
        display: none;
      }
    }
  }
}
.news-wrapper {
  position: relative;
  width: 82%;
  .news-date {
    font-size: 1.0625rem;
    font-weight: 300;
    margin-bottom: 0.875rem;
  }
  .news-image {
    position: relative;
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 2.25rem;
  }
  a {
    &.more {
      font-size: 1.5rem;
      color: $orange;
      img {
        display: inline-block;
        margin-left: 1.5rem;
      }
    }
  }
  .pattern {
    width: 75%;
    height: 45%;
    background: linear-gradient(-45deg, transparent 46%, #c7c7c7 49%, #c7c7c7 51%, transparent 55%);
    background-size: 6px 6px;
    position: absolute;
    top: 0;
    right: -1rem;
  }
  @media screen and (max-width: 1440px) {
    .news-date {
      font-size: 0.834rem;
      margin-bottom: 0.5rem;
    }
    .pattern {
      right: -1.5rem;
    }
    a {
      &.more {
        font-size: 1.1667rem;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .pattern {
      height: 40%;
    }
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    .pattern {
      height: 30%;
    }
  }
  @media screen and (max-width: 640px) {
    width: 90%;
    .pattern {
      width: 85%;
      height: 40%;
      right: -2rem;
    }
  }
}
.item-card {
  padding-top: 4.5rem!important;
  .breadcrumbs-wrapper {
    top: 0;
  }
  .menu {
    a {
      color: $black;
    }
  }
  .accordion-menu {
    a {
      line-height: 1.5;
    }
    >li {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .accordion-menu .nested.is-accordion-submenu {
    margin-top: 1rem;
    margin-left: 2.125rem;
  }
  .is-accordion-submenu-parent {
    margin-bottom: 2.75rem;
  }
  .is-submenu-item {
    margin-bottom: 0.875rem;
    a {
      font-size: $font-size-normal;
    }
  }
  .divider {
    position: absolute;
    top: -4rem;
    left: -2rem;
    width: 1px;
    height: 100%;
    background-color: #d0d1d9;
  }
  .item-wrapper {
    margin-bottom: 6.5rem;
  }
  h4 {
    margin-bottom: 1.25rem;
  }
  p {
    font-weight: 400!important;
    line-height: 1.85!important;
  }
  .item-specs {
    p {
      padding-bottom: 1.75rem;
      border-bottom: 2px solid $black;
      margin-bottom: 2.25rem;
      line-height: 1;
    }
  }
  table {
    margin-bottom: 1.5rem;
    tbody {
      border: 0;
      tr {
        border-bottom: 2px solid #b3b5b8;
        &:last-of-type {
          border-bottom: 0;
        }
      }
      td {
        padding: 0.35rem 0 0.5rem;
        &:last-of-type {
          text-align: right;
          vertical-align: bottom;
        }
      }
    }
    @media screen and (min-width: 1440px) {
      &:first-of-type {
        margin-bottom: 1px;
        tbody {
          tr {
            &:last-of-type {
              border-bottom: 2px solid #b3b5b8;
            }
          }
        }
      }
    }
  }
  .btn-custom {
    font-size: $font-size-normal;
    padding: 0.75rem 1.75rem;
  }
  .tabs {
    margin-bottom: 2rem;
    &:before,
    &:after {
      content: none;
    }
  }
  .tabs-title {
    a {
      font-size: $font-size-normal;
      font-weight: 700;
      color: $black;
      padding: 0.5rem 0 1rem;
    }
    >a {
      &:focus,
      &:hover,
      &[aria-selected='true'] {
        background: transparent;
        border-bottom: 2px solid $orange;
      }
    }
  }
  .slider-items {
    margin: 4rem -0.5rem 2rem;
    .item-img {
      @include img-wrapper;
      img {
        @include img-absolute;
      }
    }
  }
  .item-3d {
    img {
      margin-left: 1rem;
    }
  }
  .item-adds {
    p {
      font-weight: 700;
      line-height: normal;
    }
    a {
      color: $black;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    .adds-wrapper {
      margin: 0 -0.5rem!important;
      .adds-img {
        @include img-wrapper;
        float: left;
        img {
          @include img-absolute;
        }
      }
    }
  }
  .item-tag {
    img {
      margin-right: 0.5rem;
    }
    .pattern {
      width: 100%;
      height: 90%;
      background: linear-gradient(-45deg, transparent 46%, #dddddd 49%, #dddddd 51%, transparent 55%);
      background-size: 6px 6px;
      position: absolute;
      top: 0.5rem;
      right: -1.5rem;
    }
    .pattern-fix {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0.6875rem;
      height: 1rem;
      background-color: $white;
    }
  }
  @media screen and (max-width: 1440px) {
    h4 {
      font-size: 1.6667rem;
    }
    p {
      line-height: 1.35!important;
    }
    .tabs-title {
      a {
        font-size: 1.1667rem;
      }
    }
    .item-tag,
    .item-adds p,
    .item-adds a {
      font-size: 0.8525rem;
    }
    .item-tag {
      img {
        width: 1.25rem;
      }
    }
    .btn-custom {
      font-size: 1.1667rem;
    }
    .item-specs {
      margin-bottom: 6rem;
    }
    table {
      font-size: 1.1667rem;
    }
  }
  @media screen and (max-width: 768px) {
    .item-wrapper {
      margin-bottom: 5.5rem;
    }
    .item-adds {
      margin-top: 3.5rem;
      a {
        margin-bottom: 0;
      }
    }
    table {
      &:first-of-type {
        margin-bottom: 1px;
        tbody {
          tr {
            &:last-of-type {
              border-bottom: 2px solid #b3b5b8;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    padding-top: 2.5rem!important;
    .slider-items {
      margin: 1.75rem -0.25rem;
      .item-img {
        margin: 0.25rem;
      }
    }
    .item-3d {
      float: right;
    }
    .item-big {
      margin-top: 1.65rem;
    }
    .item-wrapper {
      margin-bottom: 2rem;
    }
    .item-adds {
      p {
        width: 50%;
        float: left;
      }
      .adds-wrapper {
        margin: 0 -1rem!important;
      }
    }
    .btn-custom {
      width: 100%;
      padding: 1.167rem;
    }
    .tabs {
      display: inline-block;
      li {
        width: 50%;
        float: left;
        margin-bottom: 1rem;
        a {
          display: inline-block;
        }
      }
    }
  }
}
.projects {
  background-color: $bg-color;
  h1 {
    color: $white;
    margin-bottom: 5.75rem;
  }
  .breadcrumbs {
    a {
      color: $white;
    }
  }
  .lead {
    color: $white;
    font-weight: 300;
    position: relative;
    padding-top: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
    &.right {
      text-align: right;
      &:before {
        left: auto;
        right: 0;
      }
    }
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 75%;
      height: 2px;
      background-color: #45505d;
    }
  }
  .project-wrapper {
    margin-bottom: 1.75rem;
    a {
      &:hover,
      &:focus {
        .lead {
          font-weight: 400;
          &:before {
            background-color: $orange;
          }
        }
      }
    }
  }
  .project-position {
    position: absolute;
    &.bottom {
      bottom: 0;
    }
    &.top {
      top: 0;
    }
    &.right {
      right: 0.9375rem;
    }
  }
  @media screen and (max-width: 1440px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  @media screen and (max-width: 1024px) {
    h1 {
      margin-bottom: 4.5rem;
    }
  }
  @media screen and (max-width: 768px) {
    .project-position {
      &.bottom {
        bottom: auto;
        top: 0;
      }
    }
  }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 2rem;
    }
    .project-wrapper {
      margin-bottom: 3rem;
    }
    .project-position {
      position: relative;
      &.right {
        right: auto;
      }
    }
    .lead {
      &:before {
        content: none;
      }
    }
  }
}
