<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специальные решения</title>
    <link rel="stylesheet" type="text/css" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="{{root}}assets/custom/jquery.pagepiling.css">
    <link rel="stylesheet" type="text/css" href="{{root}}assets/custom/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="{{root}}assets/custom/lightbox.css">
    <link rel="stylesheet" type="text/css" href="{{root}}assets/custom/swiper.css">

  </head>
  <body>
    {{> body}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="{{root}}assets/custom/lightbox.js"></script>
    <script type="text/javascript" src="{{root}}assets/custom/swiper.min.js"></script>
    <script type="text/javascript" src="{{root}}assets/js/app.js"></script>
    <script type="text/javascript" src="{{root}}assets/custom/slick.min.js"></script>
    <script type="text/javascript" src="{{root}}assets/custom/jquery.pagepiling.js"></script>

  </body>
</html>
