@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 0;
}

.slick-dots
{
    position: absolute;
    right: 2rem;
    top: -2.5rem;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
}
@media screen and (max-width: 1024px) {
    .slick-dots {
        right: 0;
    }
}
@media screen and (max-width: 768px) {
    .slick-dots {
        right: 0.75rem;
    }
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 0.625rem;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    width: 2.25rem;
}
.slick-dots li:last-of-type {
    margin-right: 0;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #d8d9e3;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-initialized .slick-slide {
    display: flex;
}
/**slider-items**/
.slider-items .slick-prev,
.slider-items .slick-next {
    left: 2rem;
}
.slider-items .slick-prev {
    top: -10px;
}
.slider-items .slick-next {
    top: auto;
    right: auto;
    bottom: -20px;
}
.slider-items .slick-prev:before,
.slider-items .slick-next:before {
    opacity: 1;
}
.slider-items .slick-prev:before {
    content: url("/assets/img/icons/arrow-up-small.png");
}
.slider-items .slick-next:before {
    content: url("/assets/img/icons/arrow-down-small.png");
}
@media screen and (max-width: 640px) {
    .slider-items .slick-prev,
    .slider-items .slick-next {
        transform: rotate(-90deg);
        top: 1.5rem;
    }
    .slider-items .slick-prev {
        left: -2rem;
    }
    .slider-items .slick-next {
        left: auto;
        right: -1rem;
        bottom: auto;
    }
}

/**slider-certificates**/
.slider-certificates .slick-dots a {
    color: #000;
    font-size: 20px;
}
.slider-certificates li.slick-active a {
    color: #fe8101;
}
.slider-certificates li {
    margin-right: 3rem;
}
.slider-certificates li:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 1440px) {
    .slider-certificates .slick-dots a {
        font-size: 14px;
    }
}
@media screen and (max-width: 640px) {
    .slider-certificates .slick-dots {
        left: 0;
        right: auto;
    }
}